@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 1.25rem;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
}

.apis-container {
    width: 90%;
    margin: 0 auto;
}

.my-api{
    display: grid;
    grid-template-rows: 3rem minmax(1rem, auto) minmax(4rem, auto) 3rem;
    grid-template-columns: repeat(3, calc(100% / 3));
    background-color: #fff;
    /* margin: 1rem; */
    border-radius: 1rem;
    padding: 1em;
    grid-template-areas: 
        "title  title  title"
        "  .   category   . "
        "  .  description . "
        "auth description https"
    ;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    margin-bottom: 3em;
    justify-items: center;
    align-items: center;
}

.my-api-name {
    grid-area: title;
    display: flex;
    border-bottom: 1px solid #9b9d9e;
}

.api-link{
    text-decoration: none;
    color: #3c4043;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em;
    font-size: 2rem;
}

.api-link:hover {
    text-decoration: underline;
    border-radius: 0.5rem;
    /* color: #fff;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    background-color: rgba(0, 0, 0, 0.5); */
}

.my-api-category {
    grid-area: category;
    border-bottom: 1px solid #9b9d9e;
}

.my-api-description {
    grid-area: description;
    /* border-bottom: 1px solid #9b9d9e; */
}

.my-api-auth {
    grid-area: auth;
    padding: 1em;
    /* border-top: 1px solid #9b9d9e; */
    border-right: 1px solid #9b9d9e;
}

.my-api-https {
    grid-area: https;
    padding: 1em;
    /* border-top: 1px solid #9b9d9e; */
    border-left: 1px solid #9b9d9e;
}



